{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'books/main-style.css' %}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<title>Biblioteka internetowa</title>
</head>


<body style="background-color: lightgray">

<header style="background-color: #ffd6de">
    <nav>
        <a href="/">
            <hr>
            <h2 style="text-align: center">Biblioteka internetowa</h2>
            <hr>
        </a>
    </nav>
</header>

{% block content %}
{% endblock %}

<main>
    <hr>
    <h1 style="text-align: center">Dodane książki</h1>
    {% for book in allPublishedBooks %}
    <div class="book-pattern">
<!--        <hr style="color: black; height: 5px">-->
        <h4> {{ book.tytul }} </h4>
        <h6> Autor: {{ book.autor }} </h6>
        <h6> Data premiery: {{ book.data_premiery }}</h6>
        <h6> Liczba stron: {{ book.liczba_stron }} </h6>
        <a href="{{ book.zdjecie.url }}" target="_blank">
            <img src="{{ book.zdjecie.url }}" alt="ksiazka" height="200px" style="border: 5px dotted black">
        </a>
    </div>
    {% endfor %}

</main>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</body>
</html>